body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #078760;
}

#containersenha {
    width: 30rem;
    height: 15rem;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
}

.enviar {
    width: 40%;
    margin-top: 2rem;
}

@media screen and (max-width: 320px) {
    #containersenha {
        max-width: 100%;
        margin: 0;
        padding: 15px;
    }
}