body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #078760;
}

#containersenha {
    margin: 15% auto;
    width: 30rem;
    height: 15rem;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #010102;
    border-radius: 15px;
    color: #050607;
    background-color: white;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.enviar {
    width: 40%;
    margin-top: 2rem;
}

@media screen and (max-width: 320px) {
    #containersenha {
        max-width: 100%;
        margin: 0;
        padding: 15px;
    }
}